@import "mixins/mixins";
@import "common/var";

@include b(message-fade){
  &-enter,&-leave-active{
    opacity: 0;
    transform: translate(0, -100%)
  }

}
@include b(message) {
  width: 380px;
  min-height: 44px;
  position: fixed;
  z-index: 10000;
  top: 20px;
  left: 50%;
  margin-left: -190px;
  box-sizing: border-box;
  padding: 0 8px 0 10px;
  background: rgba(156,212,255,0.72);
  border: 1px solid rgba(156,212,255,1);
  border-radius: 5px;
  overflow: hidden;
  transition: opacity .3s, transform .4s, top .4s;
  display: flex;
  align-items: center;

  @include e(content){
    overflow: hidden;
    display: flex;
    align-items: center;
    flex: 1;
  }
  @include e(text){
    color: #fff;
    font-size: 14px;
  }

  @include e(close-btn) {
    min-width: 32px;
    width: 32px;
    height: 32px;
    cursor: pointer;
  }
  @include m(success){
    background: rgba(13,206,127,0.72);
    border: 1px solid rgba(13,206,127,1);
  }
  @include m(error){
    background: rgba(255,68,68,0.72);
    border: 1px solid rgba(255,68,68,1);
  }
  @include m(warning){
    background: rgba(254,132,86,0.72);
    border: 1px solid rgba(254,132,86,1);
  }
}
